*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 95%;
    height: 50%;
    background: blue;
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    -webkit-box-shadow: 0px 12px 15px -1px rgba(0,0,0,0.44); 
box-shadow: 0px 12px 15px -1px rgba(0,0,0,0.44);
cursor: pointer;
}
.zelena{
    background: green;
}
.key{
    background: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: relative;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}
.key:active{
    background: rgb(226, 216, 216);
}
.keyname{
    color: blue;
    font-size: 100%;
    position: relative;
    top: 80%;
    text-align: center;
}
.keypress{
    position: absolute;
    width: 100%;
    top: 65%;
    color:rgb(7, 219, 247);
    font-size: 80%;
    text-align: center;
}
.blackkey{
    top: 0px;
    left: 70%;
    width: 80%;
    height: 60%;
    background: black;
    position:absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 12px 15px -1px rgba(0,0,0,0.52); 
    box-shadow: 0px 12px 15px -1px rgba(0,0,0,0.52);
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}
.keynameb{
    color: blue;
    font-size: 100%;
    position: relative;
    top: 60%;
    text-align: center;
}
.keypressb{
    position: absolute;
    width: 100%;
    top: 35%;
    color:rgb(7, 219, 247);
    font-size: 80%;
    text-align: center;
}